# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
.jupyter/

# Spark
metastore_db/
derby.log
spark-warehouse/
.spark_ivy/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Environment variables
.env

# Data outputs
keyword_search/output/
publication_search/output/
paper_id_search/output/
